
#.hathora
/server/.hathora/*

/client/.hathora/*
!/client/.hathora/client.ts

node_modules
#dist
!/tutorial/*

.env
/api/*
!/api/base.ts
/data/*
!/data/saves
/client/prototype-ui/*
!/client/prototype-ui/plugins
/client/web/webpackstarter.bat
/client/web/node_modules
!/client/web/build/*

